In [36]:
import pandas as pd

# Common Windows encoding
df = pd.read_csv("dataset.csv", encoding="cp1252")

# first need to subset
counties = ["Los Angeles", "San Diego", "Orange", "Riverside", "San Bernardino"]

subset_df = df[df["County"].isin(counties)]

# get rid of the 30-day (done)
# remove location column (done)
# print unique types in hospital rating and see how many unique types, convert to like three of four (there is already three so this looks good)
# do something with the e's 
# Cleaning the Data

subset_df.loc[:, 'Measure'] = subset_df['Measure'].str.replace('30-day ', '')

subset_df.loc[:, '# of Cases'] = pd.to_numeric(subset_df['# of Cases'], errors='coerce')
subset_df.loc[:, '# of Deaths/Readmissions'] = pd.to_numeric(subset_df['# of Deaths/Readmissions'], errors='coerce')

In [37]:
import numpy as np 

subset_df.head()

,Year,County,Hospital,OSHPDID,Measure,Risk Adjusted Rate,# of Deaths/Readmissions,# of Cases,Hospital Ratings,Location 1
92,2011-2012,Los Angeles,Alhambra Hospital,106190017,Readmission,10.40,12.0,96.0,As Expected,"(34.08988, -118.1449)"
93,2011-2012,Los Angeles,Alhambra Hospital,106190017,Mortality,4.63,5.0,100.0,As Expected,"(34.08988, -118.1449)"
94,2011-2012,Los Angeles,Antelope Valley Hospital,106190034,Readmission,14.61,61.0,414.0,As Expected,"(34.68928, -118.15767)"
95,2011-2012,Los Angeles,Antelope Valley Hospital,106190034,Mortality,12.32,41.0,431.0,As Expected,"(34.68928, -118.15767)"
96,2011-2012,Los Angeles,Saint Mary Medical Center,106190053,Readmission,11.55,26.0,189.0,As Expected,"(33.7802376, -118.1866412)"

In [38]:
subset_df=subset_df.loc[:, ['Year','County', 'Hospital','OSHPDID','Measure','Risk Adjusted Rate','# of Deaths/Readmissions','# of Cases','Hospital Ratings']]

In [39]:
subset_df['Hospital Ratings'].unique()

array(['As Expected', 'Worse', 'Better', nan], dtype=object)

In [40]:
subset_df['Measure'].unique()

array(['Readmission', 'Mortality'], dtype=object)

In [41]:
subset_df['Start'] = subset_df['Year'].str.split('-').str[0]
subset_df['Year']=subset_df['Start']
subset_df = subset_df.drop('Start',axis=1)

subset_df['Year'] = pd.to_numeric(subset_df['Year'], errors='coerce')
subset_df.head()

,Year,County,Hospital,OSHPDID,Measure,Risk Adjusted Rate,# of Deaths/Readmissions,# of Cases,Hospital Ratings
92,2011,Los Angeles,Alhambra Hospital,106190017,Readmission,10.40,12.0,96.0,As Expected
93,2011,Los Angeles,Alhambra Hospital,106190017,Mortality,4.63,5.0,100.0,As Expected
94,2011,Los Angeles,Antelope Valley Hospital,106190034,Readmission,14.61,61.0,414.0,As Expected
95,2011,Los Angeles,Antelope Valley Hospital,106190034,Mortality,12.32,41.0,431.0,As Expected
96,2011,Los Angeles,Saint Mary Medical Center,106190053,Readmission,11.55,26.0,189.0,As Expected

In [42]:
# Splitting the data: Rachel

def maxmin(z):
    return (z - np.min(z)) / (np.max(z) - np.min(z))

# Create target and features
y = subset_df['Hospital Ratings']
X = subset_df.loc[:, ['Risk Adjusted Rate', '# of Deaths/Readmissions', "# of Cases", "Year", "County", "Hospital", "Measure"]]

# Select only numeric columns for normalization
X_numeric = X.select_dtypes(include=[np.number])

# Normalize numeric columns
X_normalized = X_numeric.apply(maxmin)

# Recombine normalized numeric + categorical columns
X_final = pd.concat([X_normalized, X.select_dtypes(exclude=[np.number])], axis=1)

# Split the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_final, y,
    test_size=0.2,
    random_state=65
)

# had to refine my code in AI as my maxmin function was not working

In [43]:
# one hot encode: Helen
#X = subset_df

ddf = pd.get_dummies(X['County'],dtype='int')
X['County'] = X['County'].fillna('Unknown')

from sklearn.preprocessing import LabelBinarizer

one_hot_encoder = LabelBinarizer()
oh = one_hot_encoder.fit_transform(X['County']) # One-hot encode the 'bird' variable
#print(oh)
names = one_hot_encoder.classes_ # Get names of the classes
#print(names)

zdf = pd.DataFrame( data = oh, columns = names) # Create a new df for the encoded variables
zdf.head()

   Los Angeles  Orange  Riverside  San Bernardino  San Diego
0            1       0          0               0          0
1            1       0          0               0          0
2            1       0          0               0          0
3            1       0          0               0          0
4            1       0          0               0          0

In [44]:
# One hot encode: helen
Ddf = pd.get_dummies(X['Measure'], dtype=int)
X['Measure'] = X['Measure'].fillna('Unknown')

X['Measure'] = X['Measure'].fillna('Unknown')
ldf = pd.get_dummies(X['Measure'], dtype=int)

X['Hospital'] = X['Hospital'].fillna('Unknown')
hospital_dummies = pd.get_dummies(X['Hospital'], prefix='Hospital', dtype=int)

ldf.head()

    Mortality  Readmission
92          0            1
93          1            0
94          0            1
95          1            0
96          0            1

In [45]:
X = X.drop(['County', 'Measure','Hospital'], axis=1, errors='ignore')
X = pd.concat([X, ddf, Ddf, hospital_dummies], axis=1)

from sklearn.preprocessing import LabelEncoder

# Encode the target variable y # this is from AI because I had all of this code and it was not working
le = LabelEncoder()
y_encoded = le.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(
    X, y_encoded, test_size=0.2, random_state=42
)

from sklearn import tree # Import the tree classifier
cart = tree.DecisionTreeClassifier() # Create a classifier object
cart = cart.fit(X_train, y_train) # Fit the classifier

## Make Predictions on the Test Set:
y_hat = cart.predict(X_test)

## Confusion Matrix:
tab = pd.crosstab(y_test,y_hat) # Compute confusion matrix
acc = (tab.iloc[0,0]+tab.iloc[1,1])/len(y_test) # Compute Accuracy
#acc = np.trace(tab)/len(y_test)  # Faster way to compute accuracy
print('Accuracy: ', acc, '\n')
pd.crosstab(y_test,y_hat)

Accuracy:  0.9174757281553398

col_0    0  1  2  3
row_0
0      185  4  2  0
1        4  4  0  0
2        2  0  4  0
3        0  0  0  1